---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Our Mission"
	description="Mission Statement"
	pubDate={new Date('June 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h3>Mission Statement</h3>
	<p>
		Our mission is to empower faith-driven entrepreneurs to build generational wealth and create 
		freedom—spiritually, financially, and personally—by aligning their businesses with our Father's
		Kingdom principles. We are committed to helping believers design a lifestyle where they can work 
		purposefully, live abundantly, and serve generously, using their God-given gifts to make a lasting 
		impact on their families, churches, and communities. Through mentorship, integrity, and biblical 
		stewardship, we equip individuals to step into their calling to grow the Kingdom of Heaven.
	</p>
</Layout>
