---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Our Mission"
	description="Mission Statement"
	pubDate={new Date('June 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h4>
		Mission Statement
	</h4>
	<p>
		Our mission is to empower faith-driven entrepreneurs to build generational wealth and create 
		freedom—spiritually, financially, and personally—by aligning their businesses with our Father's
		Kingdom principles. We are committed to helping believers design a lifestyle where they can work 
		purposefully, live abundantly, and serve generously, using their God-given gifts to make a lasting 
		impact on their families, churches, and communities. Through mentorship, integrity, and biblical 
		stewardship, we equip individuals to step into their calling to grow the Kingdom of Heaven.
	</p>
	<p>
		We believe business should be a reflection of your calling—not just a way to earn a living. 
		We equip Christian entrepreneurs to design lives of margin, meaning, and eternal impact through 
		simple, scalable business strategies built on biblical wisdom and the teachings of Jesus Christ.
	</p>
</Layout>
