---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>
				Can you build a business that frees you and still honors God?
			</h4>
                        <p>
				At CFTrust, we help believers create purpose-driven income streams that multiply their time, impact, and Godly 
				influence—without burning out or compromising their values.
			</p>
				We believe your business should be a reflection of God's calling—not just a way to earn a living. 
				We help equip Christian entrepreneurs to design lives of margin, meaning, and eternal impact through 
				simple, scalable business strategies built on biblical wisdom and the teachings of Jesus Christ.
			</p>
			<p>
				<blockquote><i>“Whatever you do, do it heartily, as to the Lord and not to men.” — Colossians 3:23</i></blockquote>
			</p>
			<p>
                                <a href="https://www.paypal.com/donate/?hosted_button_id=F3GA4MPTSFT6Y">Donate to cftrust.org</a>
                        </p>
		</main>
		<Footer />
	</body>
</html>
