---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>
				Can you build a business that frees you and still honors God?
			</h4>
                        <p>
				At CFTrust, we help believers create purpose-driven income streams that multiply their time, impact, and Godly 
				influence—without burning out or compromising their values.
			</p>
				We believe your business should be a reflection of God's calling—not just a way to earn a living. 
				We help equip Christian entrepreneurs to design lives of margin, meaning, and eternal impact through 
				simple, scalable business strategies built on biblical wisdom and the teachings of Jesus Christ.
			</p>
			<p>
				What are the teachings of Jesus that we should be following? We're glad you asked. Jesus said,
				<blockquote><i>"'Thou shalt love the Lord thy God with all thy heart, and with all thy soul, and with all thy mind.' 
				This is the first and great commandment. And the second is like unto it, 'Thou shalt love thy neighbour as thyself.' 
				On these two commandments hang all the law and the prophets." — Matthew 22:37-40</i></blockquote>
			</p>
			<p>
				Basically we are to love God and each other with our "everything". How do you do that? This is the core of what we
				teach at CFTrust. We teach how to give everything you have, everything you are, and everything you will be to the glory
				of the Kingdom of God. He created everything, so it's all His anyway. We are to be faithful servants of the Father, be
				good stewards of his provisions in our lives, and the use our blessings to be a blessing to others.
			</p>
			<p>
				God's Kingdom has wealth beyond all comprehension just waiting to be placed into the hands of those who have humbled 
				themselves before God and are seeking to do His will. Show Him you are a good and faithful servant and He shall hold
				nothing back from them that simply ask. Jesus said,
				<blockquote><i>“Whatever you ask in my name, this I will do.” — John 14:14</i></blockquote>
			</p>
			<p>
				Do not underestimate the power that you wield once you have aligned yourself with the Father's heart. The Devil loves
				nothing more than luke warm Christians living in poverty talking about all the great things they would do in Jesus' name if only
				God would fill their bank accounts one day. The Father wants to hold nothing back from those that continually strive to achieve
				glory in His honor. He is patiently waiting on you! What are YOU waiting for?
			</p>
			<p>
				<blockquote><i>“This is what the Lord says: ‘Stand at the crossroads and look; ask for the ancient paths, ask where the good 
				way is, and walk in it, and you will find rest for your souls. But you said, ‘We will not walk in it.’” — Jeremiah 6:16</i></blockquote>
			</p>
			<h4>
				Why do you NOT?
			</h4>
			<p>
				<blockquote><i>“Whatever you do, do it heartily, as to the Lord and not to men.” — Colossians 3:23</i></blockquote>
			</p>
			<p>
                                <a href="https://www.paypal.com/donate/?hosted_button_id=F3GA4MPTSFT6Y">Donate to cftrust.org</a>
                        </p>
		</main>
		<Footer />
	</body>
</html>
